<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" type="text/css"href="./resources/css/style.css">
  <script type="text/javascript" src="./resources/js/scripts.js"></script>
</head>
<body>
  <div class="sidebar">
    <img src="./resources/img/logo.png" class="logo">
    <div class="nav-profile">
      <div class="profile-image">
        <img src="./resources/img/no-profile-photo.jpg" alt="profile image" class="img-circle">
      </div>
      <div class="text-wrapper">
        <p class="profile-name">James Wickenden</p>
        <small class="designation text-muted">User</small>
        <span class="glyphicon glyphicon-asterisk"></span>
      </div>
    </div>
    <a href="#newProject" class="allProject">Outstanding Tasks</a> <!-- How many project do student have? -->

    <a href="./studentLog.html">
      <span class="glyphicon glyphicon-edit"></span>
      <span class="sidebar-element">View Log</span>
    </a>
    <a href="./archive.html">
      <span class="glyphicon glyphicon-briefcase"></span>
      <span class="sidebar-element">Completed Tasks</span>
    </a>
  </div>

  <div class="right-side">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <h3>Outstanding Tasks</h3>
      </ul>
    </div>
    </nav>
  </div>
  <div class="content">
    <div class="container outstanding-tasks">
      <div class="row">
        <div class="col-sm-8 table-wrapper">
          <table class="table panel panel-default" id="table">
          <h5>Outstanding Tasks</h5>
            <thead>
              <tr>
                <th>Project</th>
                <th>Task Name</th>
                <th>Deadline</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Software Product Engineering1</td>
                <td>Individual Feedback</td>
                <td class="warning">20.10.2020</td>
                <td><a href="feedbackSubmission.html" class="btn btn-primary btn-xs">View</a></td>
              </tr>
              <tr>
                <td>Software Product Engineering1</td>
                <td>Group Feedback</td>
                <td class="warning">20.10.2020</td>
                <td><a href="groupFeedbackSubmission.html" class="btn btn-primary btn-xs">View</a></td>
              </tr>
              <tr>
                <td>Software Product Engineering1</td>
                <td>Reconcile Feedback</td>
                <td class="warning">20.10.2020</td>
                <td><a href="workSubmission.html" class="btn btn-primary btn-xs">View</a></td>
              </tr>
              <tr>
                <td>Software Product Engineering1</td>
                <td>Portfolio A</td>
                <td class="warning">20.10.2020</td>
                <td><a href="workSubmission.html" class="btn btn-primary btn-xs">View</a></td>
              </tr>
              <tr>
                <td>Software Product Engineering1</td>
                <td>Portfolio A</td>
                <td class="warning">20.10.2020</td>
                <td><a href="workSubmission.html" class="btn btn-primary btn-xs">View</a></td>
              </tr>
              <tr>
                <td>Software Product Engineering1</td>
                <td>Portfolio A</td>
                <td class="warning">20.10.2020</td>
                <td><a href="workSubmission.html" class="btn btn-primary btn-xs">View</a></td>
              </tr>
              <tr>
                <td>Software Product Engineering1</td>
                <td>Portfolio A</td>
                <td class="warning">20.10.2020</td>
                <td><a href="workSubmission.html" class="btn btn-primary btn-xs">View</a></td>
              </tr>
            </tbody>
          </table>
          </div>
      </div>
    </div>
 	 </div>
</body>
</html>
