<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript">
	
</script>
<head th:replace="page_elements/header_unit_director:: head"></head>
<body>
	<div th:replace="page_elements/sidebar_unit_director:: sidebar"></div>
	<div class="right-side">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-left">
					<li><h3>Manage Permissions</h3></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="content">
		<!-- <div id="showSolo" class="project_selected"> -->
		<div class="row">
			<form name="newProject" class="form-horizontal"
				th:action="@{/unit_director/manage_perms}"
				th:object="${selectedUsersDto}" method="post">
				<select id="selectUnit" list="selectUnit" th:field="*{selectedUsers}"
				 class="chosen form-control">
					<option th:value="null" hidden="hidden" style="display: none;"
						selected>Please Select</option>
					<option th:each="user : ${users}" th:value="${{user}}"
						th:id="${{user}}" th:text=${user.userName}></option>
				</select>


				<button type="submit" class="btn btn-black" name="setStudent">Set
					Student</button>
				<button type="submit" class="btn btn-black" name="setAssessor">Set
					Assessor</button>
				<button type="submit" class="btn btn-black" name="setUnitDirector">Set
					UnitDirector</button>

			</form>
		</div>
	</div>

	<script type="text/javascript">
		$(function() {
			$('.toMark').multiselect({
				nonSelectedText : 'Add Users',
				includeSelectAllOption : true,
				enableFiltering : true,
				maxHeight : 300
			});
		});
	</script>
</body>
</html>