<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="page_elements/header_unit_director:: head"></head>
<body>
	<div th:replace="page_elements/sidebar_unit_director:: sidebar"></div>
		<div class="right-side">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-left">
						<li><h3>Manage Permissions</h3></li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="content">
			<br>
			<!-- <div id="showSolo" class="project_selected"> -->
			<div class="row">
				<form name="newProject" class="form-horizontal" th:action="@{/unit_director/manage_perms}" th:object="${selectedUsersDto}" method="post">
					<div class="form-group myMultiselect">
						<div class="col-sm-4 col-sm-push-2">
							<label for="selectStudents">Students: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<select class="myMultiselect-selectOptions" id="selectStudents" th:field="*{selectedStudents}" multiple="multiple">
								<option th:value="null" hidden="hidden" style="display: none;" selected>Please Select</option>
								<option th:each="student : ${students}" th:value="${{student}}" th:id="${{student}}" th:text=${student.userName}></option>
							</select> 
						</div>
					</div>
					<div class="form-group">
						<hr class="dottedLine col-sm-8 col-sm-push-2" />
					</div>
					<div class="form-group myMultiselect">
						<div class="col-sm-4 col-sm-push-2">
							<label for="selectAssessors">Assessors: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<select class="myMultiselect-selectOptions" id="selectAssessors" th:field="*{selectedAssessors}" multiple="multiple">
								<option th:value="null" hidden="hidden" style="display: none;" selected>Please Select</option>
								<option th:each="assessor : ${assessors}" th:value="${{assessor}}" th:id="${{assessor}}" th:text=${assessor.userName}></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<hr class="dottedLine col-sm-8 col-sm-push-2" />
					</div>
					<div class="form-group myMultiselect">
						<div class="col-sm-4 col-sm-push-2">
							<label for="selectUnitDirectors">Unit Directors: </label>&nbsp;
							<select class="myMultiselect-selectOptions" id="selectUnitDirectors" th:field="*{selectedUnitDirectors}" multiple="multiple">
								<option th:value="null" hidden="hidden" style="display: none;" selected>Please Select</option>
								<option th:each="unitDirector : ${unitDirectors}" th:value="${{unitDirector}}" th:id="${{unitDirector}}" th:text=${unitDirector.userName}></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<hr class="dottedLine col-sm-8 col-sm-push-2" />
					</div>
					<div class="form-group myMultiselect">
						<div class="col-sm-4 col-sm-push-2">
							<label for="selectPerms">New Permissions: </label>
							<select class="chosen form-control" id="selectPerms" th:field="*{newPerms}">
								<option th:value="student">Student</option>
								<option th:value="assessor">Assessor</option>
								<option th:value="unit_director">Unit Director</option>
							</select>
						</div>
					</div>
					<div th:if="${errorMsg != null}">
						<div class="error_message">
							<span class="glyphicon glyphicon-alert"></span>&nbsp;&nbsp; 
							<span class="messageHeader">Error changing permissions: </span>
							<p class="message" th:text="${errorMsg}"></p>
						</div>
					</div>
					<br><br>
					<div class="form-group">
						<div class="col-sm-2 col-sm-push-1">
							<button type="submit" class="btn btn-blue">Change Permissions</button>
						</div>
					</div>	
				</form>
			</div>
		</div>
	
		<script type="text/javascript" th:src="@{/js/multiselect.js}"></script>
</body>
</html>