<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript">

</script>
<head th:replace="page_elements/header_unit_director:: head"></head>
<body>
	<div th:replace="page_elements/sidebar_unit_director:: sidebar"></div>
	<div class="right-side">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-left">
					<li><h3 th:if="${soloProjectDto.id == null}" >Add New Solo Project</h3></li>
					<li><h3 th:if="${soloProjectDto.id != null}" >Edit Solo Project</h3></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="content">
		<div class="container outstanding-tasks">
			<div class="clearfix"></div>
		</div>
			<div class="row">
				<div class="col-sm-12 table-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div th:if="${error != null}">
								<div class="error_message">
									<span class="glyphicon glyphicon-alert"></span>&nbsp;&nbsp;
									<span class="messageHeader">Error: </span>
									<p class="message" th:text="${error}"></p>
								</div>
								</div>
							</div>
						</div>
					</div>
					<form name="newProject" class="form-horizontal" th:action="@{/unit_director/new_solo_project}" th:object="${soloProjectDto}" method="post">
						<div class="form-group">
							<div class="col-sm-4 col-sm-push-2">
								<label for="selectUnit">Select Unit: </label>
								<select id="selectUnit" list="selectUnit" th:field="*{unit}" onchange="setUnit.click()"  class="chosen form-control">
									<!--  <option th:value="0" text="Please Select" selected disabled hidden>Please Select</option>-->
									<option th:value="null" hidden="hidden" style="display: none;" selected>Please Select</option>
	
									<option th:each="unit : ${unitList}" th:value="${{unit}}" th:id="${{unit}}" th:text=${unit.unitName}></option>
								</select>
							</div>
						</div>
											
						<input type="hidden" th:field="*{id}" th:value="*{id}">
						<input type="hidden" th:field="*{unit}" th:value="*{unit}">
						<button style="display: none;" type="submit" id="setUnit" name="setUnit">Set Unit</button>
						
						<div class="form-group">
							<hr class="dottedLine col-sm-8 col-sm-push-2" />
						</div>
	
						<div class="form-group myMultiselect">
							<div class="col-sm-4 col-sm-push-2">
								<select id="select-helper" th:field="*{helpers}" class="form-control" multiple="multiple">
									<option th:each="unitDirector : ${unitDirectorList}" th:value="${{unitDirector}}" th:id="${{unitDirector}}" th:text=${unitDirector.userName}></option>
								</select>
							</div>
						</div>
	
						<div class="form-group">
							<hr class="dottedLine col-sm-8 col-sm-push-2" />
						</div>
	
						<div class="form-group">
							<label class="control-label col-sm-2" for="projectName">Project Name: </label>
							<div class="col-sm-4">
								<input class="form-control" id="projectName" type="text" th:field="*{name}" placeholder="Enter a project name"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="projectDesc">Description:</label>
							<div class="col-sm-8">
								<textarea class="form-control" rows="5" placeholder="Add a description to the project" id="projectDesc" type="text" th:field="*{description}"></textarea>
							</div>
						</div>
						<div class="form-group">
							<hr class="dottedLine col-sm-8 col-sm-push-2" />
						</div>
						
						<div th:each="assessment, a: *{assessments}">
							<input type="hidden" th:field="*{assessments[__${a.index}__].id}" th:value="*{assessments[__${a.index}__].id}">
						
							<div class="assignmentWrapper">
								<div class="assignment-background">
									<div class="form-group">
										<h4 class="col-sm-4 col-sm-push-2 font-bold" for="assignmentName">Assessment <span th:text ="${a.index + 1}"></span>:</h4>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3" for="assessmentName">Name:</label>
										<div class="col-sm-3">
											<input class="form-control" placeholder="Assignment Name" type="text" id="assessmentName" th:field="*{assessments[__${a.index}__].name}" name="assessmentName">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3" for="assessmentDesc">Description:</label>
										<div class="col-sm-8">
											<textarea class="form-control" rows="3" placeholder="Add a description for the assignment" type="text" id="assessmentDesc" th:field="*{assessments[__${a.index}__].description}" name="assessmentDesc"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3" for="studentDeadline">Student Deadline:</label>
										<div class="col-sm-3">
											<input class="form-control" th:field="*{{assessments[__${a.index}__].studentDeadline}}" type="datetime-local" id="studentDeadline" name="studentDeadline">
										</div>
									</div>
									
									<div class="form-group">
										<label class="control-label col-sm-3" for="markerDeadline">Marker Deadline:</label>
										<div class="col-sm-3">
											<input class="form-control" th:field="*{{assessments[__${a.index}__].markerDeadline}}" type="datetime-local" id="markerDeadline" name="markerDeadline">
										</div>
									</div>
									
									<div class="control-label col-sm-3">
										<label for="deadline">Weight:</label>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<div class="input-group">
												<span class="input-group-addon">%</span>
												<input class="form-control" th:field="*{{assessments[__${a.index}__].weight}}" type="number" min="0" max="100" id="weight">
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<hr class="dottedLine col-sm-8 col-sm-push-2" />
									</div>
									<div th:each="markerDto, m: *{assessments[__${a.index}__].soloMarkerDtos}">
										<div class="markerWrapper">
										<div class="form-group">
											</div>
											<div class="form-group">
												<div class="col-sm-4 col-sm-push-3">
													<label for="selectMarker">Select a marker:</label>
													<select id="selectMarker" list="selectMarker" th:field="*{assessments[__${a.index}__].soloMarkerDtos[__${m.index}__].marker}" class="chosen form-control">	
														<option th:value="null" hidden="hidden" style="display: none;" selected>Please Select</option>
														<option th:each="assessor : ${assessorList}" th:value="${{assessor}}" th:id="${{assessor}}" th:text=${assessor.userName}></option>
													</select> 
												</div>
												<div class="col-sm-4 col-sm-push-3 myMultiselect" id="users">
													<label for="toMark">Select student/s:</label>
													<br>
													<div th:if="*{unit != null}">
													<select class="toMark" id="toMark" th:field="*{assessments[__${a.index}__].soloMarkerDtos[__${m.index}__].toMark}" multiple="multiple">
														<option th:each="user : *{unit.cohort}" th:value="${{user}}" th:id="${{user}}" th:text="${user.userName}"></option>
													</select>
													<br>
													</div>
													<div th:if="*{unit == null}">
														<div class="error_message">
															<span class="glyphicon glyphicon-alert"></span>&nbsp;&nbsp;
															<span class="messageHeader">No unit selected</span>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-4 col-sm-push-3">
													<button type="submit" name="removeMarker" th:value="${'__${a.index}__, __${m.index}__'}"  class="border-radius btn btn-danger"><span class="glyphicon glyphicon-minus"></span> Marker</button>
												</div>
											</div>
											<div class="form-group">
												<hr class="dottedLine col-sm-8 col-sm-push-2" />
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2 col-sm-push-3">
											<button type="submit" id="addMarker" name="addMarker" th:value="${a.index}" class="addMarker border-radius btn btn-green"><span class="glyphicon glyphicon-plus"></span> Marker</button>
										</div>
									</div>
									<br><br>
									<div class="form-group">
										<div class="col-sm-2 col-sm-push-3">
											<button type="submit" name="removeAssessment" th:value="${a.index}"  class="btn btn-lightred">Remove Assessment</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-2 col-sm-push-1">
								<input type="submit" name="addAssessment" class="btn btn-blue" value="Add Assessment"></input>
							</div>
						</div>
						<div class="clearfix"></div>
						<br><br><br>
						<div class="form-group">
							<div class="col-sm-10">
								<button th:if="${soloProjectDto.id == null}" type="submit" class="btn btn-black" name="addProject" data-toggle="modal" id="addProject">Submit Project  <span class="glyphicon glyphicon-chevron-right"></span></button>
	
								<!--  Buttons for the ediProject page -->
								<div th:if="${soloProjectDto.id != null}" >
									<button type="submit" class="btn btn-black" name="saveAsNewProject">Save as New<span class="glyphicon glyphicon-chevron-right"></span></button>
									<button type="submit" class="btn btn-black" name="editProject">Save Changes<span class="glyphicon glyphicon-chevron-right"></span></button>
									<button type="submit" class="btn btn-lightred" name="deleteProject">Delete <span class="glyphicon glyphicon-remove"></span></button>
								</div>
							</div>
						</div>
					</form>				
				<!-- Submitted Successful Message -->
				<div class="container">
				  <!-- Modal -->
				  <div class="modal fade" id="submitProject" role="dialog">
				    <div class="modal-dialog">
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        <div class="modal-body projectSubmitted">
				        	<img  th:src="@{/img/successful.png}">
				        	<p>Submitted Successful</p>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				      
				    </div>
				  </div>
				</div>
				<p class="wrap"></p>
				<!-- End of Submitted Successful Message -->
				
				
				<!-- <input type="hidden" th:value="${error}" id="error"/> -->
				
				<span th:if="${error == null}">
				</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/multiselect.js}"></script>
</body>
</html>