<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="${header}:: head"></head>
<body>
	<div th:replace="${sidebar}:: sidebar"></div>

	<div class="right-side">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-left">
					<li><h3>Outstanding Tasks</h3></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="content">
		<div class="container outstanding-tasks">
			<div class="row">
				<div class="col-sm-9 col-lg-12 table-wrapper">
					<h3>To Mark</h3>
					<table class="table panel panel-default" id="table">
						<thead>
							<tr>
								<th>Project</th>
								<th>Assessment</th>
								<th>For</th>
								<th>Deadline</th>
								<th>Submission Status</th>
								<th>Feedback Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="feedback: ${user.taskFeedback}">
								<td><span th:text="${feedback.task.assessment.project.name}"></span></td>
								<td><span th:text="${feedback.task.assessment.name}"></span></td>
								<td><span th:text="${feedback.task.accountable.name}"></span></td>
								<td><span th:text="${feedback.task.markerDeadline}" class="warning"></span></td>
								<td class="submission-status-under-process"><span th:text="${feedback.task.status}"></span></td>
								<td class="submission-status-completed"><span th:text="${feedback.status}"></span></td>
								<td><a th:href="@{/assessor/feedback/{taskId}(taskId=${feedback.task.id})}"
									class="btn btn-primary btn-xs">View</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="col-sm-9 col-lg-12 table-wrapper">
					<p class="sub-title">Reconciliation</h3>
					<div th:each="project : ${user.myProjects}">
					<p class="sub-sub-title"><span class="glyphicon glyphicon-triangle-right"></span>Projects (<span class="sub-sub-sub-title" th:text="${project.name}"></span> )</p>
					
						
						<table class="table panel panel-default" id="table">
							<thead>
								<tr>
									<th>Assessment</th>
									<th>For</th>
									<th>Submission Status</th>
									<th>Reconciliation Status</th>
									<th>Feedback Submitted</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<div th:each="assessment : ${project.assessments}">
								<tr th:each="task : ${assessment.tasks}">
									<td><span th:text="${assessment.name}"></span></td>
									<td><span th:text="${task.accountable.name}"></span></td>
									<td><span th:text="${task.status}"></span></td>
									<td class="submission-status-completed" ><span th:text="${task.reconciledFeedback.status}"></span></td>
									<td class="submission-status-number"><span th:text="${task.feedbackSubmitted}"></span>/<span th:text="${task.numMarkers}"></span></td>
									<td><a th:href="@{/unit_director/reconciliation/{taskId}(taskId=${task.id})}"
										class="btn btn-primary btn-xs">View</a></td>
								</tr>
								</div>
							</tbody>
						</table>
					</div>
					<div th:each="project : ${user.assignedProjects}">
						<p class="sub-sub-title"><span class="glyphicon glyphicon-triangle-right"></span>Assigned Projects (<span class="sub-sub-sub-title" th:text="${project.name}"></span> )</p>
						<table class="table panel panel-default" id="table">
							<thead>
								<tr>
									<th>Assessment</th>
									<th>For</th>
									<th>Submission Status</th>
									<th>Reconciliation Status</th>
									<th>Feedback Submitted</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<div th:each="assessment : ${project.assessments}">
								<tr th:each="task : ${assessment.tasks}">
									<td><span th:text="${assessment.name}"></span></td>
									<td><span th:text="${task.accountable.name}"></span></td>
									<td class="submission-status-under-process"><span th:text="${task.status}"></span></td>
									<td class="submission-status-completed"><span th:text="${task.reconciledFeedback.status}"></span></td>
									<td><span th:text="${task.feedbackSubmitted}"></span>/<span th:text="${task.numMarkers}"></span></td>
									<td><a th:href="@{/unit_director/reconciliation/{id}(id=${task.id})}"
										class="btn btn-primary btn-xs">View</a></td>
								</tr>
								</div>
							</tbody>
						</table>
					</div>
					</div>
					<div class="col-sm-9 col-lg-12 table-wrapper">

					<p class="sub-title">Submissions</p>
					<table class="table panel panel-default" id="table">
						<thead>
							<tr>
								<th>Project</th>
								<th>Assessment</th>
								<th>Deadline</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="task: ${user.allTasks}">
								<td><span th:text="${task.assessment.project.name}"></span></td>
								<td><span th:text="${task.assessment.name}"></span></td>
								<td><span th:text="${task.studentDeadline}" class="warning"></span></td>
								<td class="submission-status-completed" ><span th:text="${task.status}"></span></td>
								<td><a th:href="@{/user/tasks/{taskId}(taskId=${task.id})}"
									class="btn btn-primary btn-xs">View</a></td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
