<div class="col-sm-12 table-wrapper" th:fragment="solo">
	<form name="newProject" class="form-horizontal" th:action="@{/unit_director/new_solo_project}" th:object="${newSoloProject}" method="post">
		<div class="form-group">
			<div class="col-sm-4 col-sm-push-2">
				<label for="selectUnit">Select Unit: </label>
				<select id="selectUnit" th:field="*{unit.id}" onchange="setUnit.click()"  class="form-control">
					<option th:each="unit : ${unitList}" th:value="${unit.id}" th:text=${unit.unitName}></option>
				</select>
			</div>
		</div>
		<input type="hidden" th:field="*{unit.cohort}" th:value="*{unit.cohort}">
		<button style="display: none;" type="submit" id="setUnit" name="setUnit">Set Unit</button>
		
		<div class="form-group">
			<hr class="dottedLine col-sm-8 col-sm-push-2" />
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="projectName">Project Name: </label>
			<div class="col-sm-4">
				<input class="form-control" id="projectName" type="text" th:field="*{name}" placeholder="Enter a project name"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="projectDesc">Description:</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="5" placeholder="Add a description to the project" id="projectDesc" type="text" th:field="*{description}"></textarea>
			</div>
		</div>
		
		<div class="form-group">
			<hr class="dottedLine col-sm-8 col-sm-push-2" />
		</div>
		
		<div th:each="assessment, a: *{assessments}">
			<div class="assignmentWrapper">
				<div class="assignment-background">
					<div class="form-group">
						<h4 class="col-sm-2 col-sm-push-2 font-bold" for="assignmentName">New Assignment:</h4>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="assessmentName">Name:</label>
						<div class="col-sm-3">
							<input class="form-control" placeholder="Assignment Name" type="text" id="assessmentName" th:field="*{assessments[__${a.index}__].name}" name="assessmentName">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="assessmentDesc">Description:</label>
						<div class="col-sm-8">
							<textarea class="form-control" rows="3" placeholder="Add a description for the assignment" type="text" id="assessmentDesc" th:field="*{assessments[__${a.index}__].description}" name="assessmentDesc"></textarea>
						</div>
					</div>
					<div th:each="markerDto, m: *{assessments[__${a.index}__].markerDtos}">
						<div class="markerWrapper">
							<div class="form-group">
								<div class="col-sm-4 col-sm-push-3">
									<select id="selectMarker" th:field="*{assessments[__${a.index}__].markerDtos[__${m.index}__].marker.id}">
										<option th:each="assessor : ${assessorList}" th:value="${assessor.id}" th:text=${assessor.userName}></option>
									</select> 
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4 col-sm-push-3">
									<select id="toMark" th:field="*{assessments[__${a.index}__].markerDtos[__${m.index}__].toMark}" multiple="multiple">
										<option th:each="user : *{unit.cohort}" th:value="${{user}}" th:id="${{user}}" th:text="${user.userName}"></option>
									</select>
									<br>
									<button type="submit" name="removeMarker" th:value="${'__${a.index}__, __${m.index}__'}"  class="btn btn-info">Remove Marker <span class="glyphicon glyphicon-remove"></span></button>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 col-sm-push-3">
							<button type="submit" name="addMarker" th:value="${a.index}" class="btn btn-blue">Add Marker</button>
						</div>
					</div>
					<br><br>
					<div class="form-group">
						<div class="col-sm-2 col-sm-push-2">
							<button type="submit" name="removeAssessment" th:value="${a.index}"  class="btn btn-danger">Remove Assessment <span class="glyphicon glyphicon-minus"></span></button>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
		<div class="form-group">
			<div class="col-sm-2 col-sm-push-1">
				<button type="submit" name="addAssessment" class="btn btn-green">Add Assessment <span class="glyphicon glyphicon-plus"></span></button>
			</div>
		</div>
		<div class="clearfix"></div>
		<br><br><br>
		<div class="form-group">
			<div class="col-sm-10">
				<button type="submit" class="btn btn-lightred" name="addProject">Submit Project  <span class="glyphicon glyphicon-chevron-right"></span></button>
			</div>
		</div>
	</form>
	<span th:if="${error != null}" th:text="${error}">Static summary</span>
	
</div>