<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="page_elements/header_unit_director:: head"></head>
<body>
	<div th:replace="page_elements/sidebar_unit_director:: sidebar"></div>
	<div class="right-side">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-left">
					<h3>View Projects</h3>
				</ul>
			</div>
		</nav>
	</div>
	<div class="content">
		<div class="container outstanding-tasks">
			<div class="row">
				<div class="col-sm-9 col-lg-12 table-wrapper">
					<h5>My Projects</h5>
					<table class="table panel panel-default" id="table">
						<thead>
							<tr>
								<th>Project ID</th>
								<th>Project Name</th>
								<th>Extensions</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="project: ${user.myProjects}">
								<td><span th:text="${project.id}"></span></td>
								<td><span th:text="${project.name}"></span></td>
								<td>
									<a th:href="@{/unit_director/add_extensions/{projectId}(projectId=${project.id})}" class="btn btn-primary btn-xs">Extensions</a>
								</td>
								<td>
									<a th:href="@{/unit_director/edit_project/{projectId}(projectId=${project.id})}" class="btn btn-primary btn-xs">Edit</a>
								</td>
								
									
							</tr>
						</tbody>
					</table>
					
					<h5>Assigned Projects</h5>
					<table class="table panel panel-default" id="table">
						<thead>
							<tr>
								<th>Project ID</th>
								<th>Project Name</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="project: ${user.assignedProjects}">
								<td><span th:text="${project.id}"></span></td>
								<td><span th:text="${project.name}"></span></td>
								<td><a
									th:href="@{/unit_director/edit_project/{projectId}(projectId=${project.id})}"
									class="btn btn-primary btn-xs">Edit</a></td>
								
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>