<!DOCTYPE html>
<html>

<head th:replace="page_elements/header_unit_director:: head"></head>
<body>
	<div th:replace="page_elements/sidebar_unit_director:: sidebar"></div>
	<div class="right-side">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-left">
					<h3>View Projects</h3>
				</ul>
			</div>
		</nav>
	</div>

	<div class="content">
		<table class="table panel panel-default" id="table">
			<h5>Solo Projects</h5>
			<thead>
				<tr>
					<th>Project</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project: ${soloProjects}">
					<td><span th:text="${project.name}"></span></td>
					<td><a th:href="@{/unit_director/edit_solo_project/{projectId}(projectId=${project.id})}"
						class="btn btn-primary btn-xs">Edit</a></td>
				</tr>
			</tbody>
		</table>
		
				<table class="table panel panel-default" id="table">
			<h5>Group Projects</h5>
			<thead>
				<tr>
					<th>Project</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project: ${groupProjects}">
					<td><span th:text="${project.name}"></span></td>
					<td><a th:href="@{/unit_director/edit_group_project/{projectId}(projectId=${project.id})}"
						class="btn btn-primary btn-xs">Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>