<div class="sidebar" th:fragment="sidebar">
  <img  th:src="@{/img/logo.png}" class="logo">
	  <div class="nav-profile">
	    <div class="profile-image">
	      <img th:src="@{/img/no-profile-photo.jpg}" alt="profile image" class="img-circle">
	    </div>
	    <div class="text-wrapper">
	      <p class="profile-name"><span th:text="${user.userName}"></span></p>
	      <small class="designation text-muted">Unit Director</small>
	      <span class="glyphicon glyphicon-asterisk"></span>
	      <a class="logout" href="/logout">
		    <span class="glyphicon glyphicon-log-out"></span>
		    <span class="">Log Out</span>
		  </a>
	    </div>
	  </div>
	  <!--<a th:href="@{/unit_director/new_project}" class="new_project">New Project </a>-->
	  <a href="#new_project" data-toggle="collapse" aria-expanded="false" class="new_project">New Project <span class="glyphicon glyphicon-plus" style="font-size: 10px;"></span> </a>
       <ul class="collapse list-unstyled" id="new_project">
           <li class="sub_new_project"><a th:href="@{/unit_director/new_solo_project}">Solo Project</a></li>
           <li class="sub_new_project"><a th:href="@{/unit_director/new_group_project}">Group Project</a></li>
       </ul>

	  
	  <a href="/" class="allProject">Outstanding Tasks</a>
	  
	  <a class="active" href="#controlPanel">
	    <span class="glyphicon glyphicon-globe"></span>
	    <span class="sidebar-element">View Projects</span>
	  </a>

	  <a href="/">
	  	<span class="glyphicon glyphicon-briefcase"></span>
	  	<span class="sidebar-element">Completed Tasks</span>
	  </a>
	  
	  <a href="./log.jsp">
	    <span class="glyphicon glyphicon-edit"></span>
	    <span class="sidebar-element">View Log</span>
	  </a>

	  <a href="#controlPanel">
	    <span class="glyphicon glyphicon-cog"></span>
	    <span class="sidebar-element">Manage permissions</span>
	  </a>
</div>