@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
  
 body{
 font-size: 18px;
 background: url(../img/login/background.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 height: auto;
 min-height: 710px;
 }
 header p{
 font-size:23px;
 font-family:Palatino Linotype;
 }
.jumbotron {
 background-color: rgba(0,0,0,0.3);
 color: #fff;
 padding: 35px 25px;
 font-family: Montserrat, sans-serif;
 }
 .loginForm{
 padding: 37px 50px;
 background:rgba(87,0,0,0.72);
 border-radius: 25px;    
   	/*-webkit-animation: slideInFromLeft 2s; /* Safari and Chrome */*/
 }
.loginForm h2{
  padding-bottom:50px;
  color:#fff;
 }
 .error-message{
 	color: #ccc70d;
 }
 .loginForm label{
	font-weight:normal;
	color:#fff;
	font-size=14px;
 }
 .loginForm .rememberMe{
	color:#b01c2e;
 }
 .loginForm .checkbox{
	font-size:13px;
 }
 .loginForm a{
  font-size:15px;
 }
 .loginForm .btn-danger{
 background:#000;
 padding-left:35px;
 padding-right:35px;
 }
.loginForm .btn-danger:hover,.loginForm .btn-danger:focus{
	background:#b01c2e;
}