/*
red: #570000;
light-red: #971212;

Dark: #424964;
Dark-hover: #33384d;

Info: #6837d8;
Info-hover: #7042da;

Danger: #e02624;
Danger-hover: #e13130;
*/

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: #f2f8f9;
}

/* Buttons */
.btn{
	border-radius: 2px;
  color: #fff;
}
.btn-green{
	background: #039b50;
}
.btn-green:hover,
.btn-green:focus{
	background: #00ce68;
	color: #fff;
}
.btn-darkBlue{
	background: #1106b7;
}
.btn-darkBlue:hover,
.btn-darkBlue:focus{
	background: #5449ff;
	color: #fff;
}
.btn-remove{
	background: #00ce68;
}
.btn-remove:hover,
.btn-remove:focus{
	background: #00ce68;
	color: #fff;
}
.btn-dark{
	background: #424964;
}
.btn-dark:hover,
.btn-dark:focus{
	background: #33384d;
	color: #fff;
}
.btn-silver{
	background: #b4b4b4;
  color: #fff;
}
.btn-silver:hover,
.btn-silver:focus{
	background: #33384d;
	color: #fff;
}
.btn-black{
  background: #282a32;
}
.btn-black:hover,
.btn-black:focus{
	background: #33384d;
	color: #fff;
}
.btn-info{
	background: #6837d8;
}
.btn-info:hover,
.btn-info:focus{
	background: #7042da;
}
.btn-danger{
	background: #e02624;
}
.btn-danger:hover,
.btn-danger:focus{
	background: #e13130;
}
.btn-blue{
  border: 1px solid #0696b7;
  color:#fff;
  background-color: #0696b7;
}
.btn-blue:focus,
.btn-blue:hover{
  color: #fff;
  background-color: #386c78;
}
.btn-red:focus,
.btn-red:hover {
  background-color: #8a0707;
  color: #fff;
}
.btn-red{
    background-color: #570000;
    color: #fff;
}
.btn-lightred:focus,
.btn-lightred:hover {
  background-color: #c20000;
  color: #fff;
}
.btn-lightred{
    background-color: #8a0707;
    color: #fff;
}
.border-radius{
	border-radius: 20px;
}
.datalist{
  display: inline;
  width:60%;
}
.studentDatalist{
  display: inline;
  width:79%;
}
/* End of Buttons */

/* Dropdown Menu */
.dropdown-dark{
	border: 1px solid #33384d;
}
.dropdown-menu > li > a{
	color: #33384d;
	padding: 5px 10px;
  	padding-right: 60px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background:#33384d;
	color: #fff;
}
/* End of Dropdown Menu */

/* General style*/
.silver{
	color: #ccc;
}
.text-middle{
	text-align: center;
}
.gray-color{
	color: #827d7d;
}
.font-bold{
  font-weight: bold;
}
.font-normal{
  font-weight: normal;
}
.hint{
  color: #7a7a7a;
}
.dottedLine{
  border-top: dotted 1px;
}
.sub-title{
	font-size: 20px;
	margin-left: 0px;
	color: #570000;
	font-weight: bold;
}
.sub-sub-title{
	font-size: 17px;
	font-weight: bold;
	color: #570000;
}
.sub-sub-sub-title{
	font-size: 15px;
	margin-left: 5px;
	font-weight: normal;
}
/* End of General style*/

/* Table */
#panel1,#panel2,#panel3{
    display: none;
}
#flip1 a,#flip2 a,#flip3 a{
	text-decoration: none;
}
.group-mark .input-group{
  display: inline-flex;
  padding: 0;
  margin: 0;
}
/*	End of Table */

/* Tasks Status */
.task-not-completed{
	background-color: #f2dede;
}
.task-completed{
	background-color: #dff0d8;
}
.task-under-process{
	background-color: #fcf8e3;
}
.task-defult{
	background-color: #f5f5f5;
}
/* End of Tasks Status */

/* Sidebar*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: 'Poppins', sans-serif;
}

.sidebar .logo{
  margin: 25px 10px;
  margin-top: 15px;
  width:200px;
  height:40px;
}

.sidebar .nav-profile{
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: #f6f6f6;
}
.sidebar .nav-profile .profile-image img{
  width:45px;
  height:40px;
}
.sidebar .nav-profile .text-wrapper{
  line-height:0.4;
  margin-left: 5px;
  padding-top: 5px;
}
.sidebar .nav-profile .text-wrapper .glyphicon-asterisk{
  color: #00ce68;
  font-size: 9px;
}
.sidebar .nav-profile .text-wrapper p{
  font-weight: bold;
}
.sidebar .nav-profile .text-wrapper small{
  color: rgba(133, 133, 133, 1);
}

#arrow {
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.flip {
  transform: rotate(+90deg);
}

.sidebar a {
  display: block;
  color: #3d3d3d;
  padding: 10px;
  padding-left: 5px;
  margin: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 0;
}
.sidebar a .sidebar-element{
  padding-left: 10px;
}
.sidebar a:hover,
.sidebar a:focus{
	color: #308ee0;
}
.sidebar a.new_project {
    background-color: #00ce68;
    color: #fff;
    padding-left: 37px;
    font-weight: 600;
    margin-top: 22px;
}
.sidebar a.new_project:hover {
  background-color: #039b50;
}
#new_project{
	margin-top:-10px;
}

#new_project>li>a{
	margin-bottom: 0;
	padding-left: 20px;
	font-size: 15px;
}
#new_project>li:last-child>a{
	padding-top: 5px;
	margin-top: 0;
}
#new_project>li>a:hover,
#new_project>li>a:focus{
	color: #00ce68;
}
#new_project>li>a .glyphicon{
	font-size: 11px;
}
.sidebar a.allProject{
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
}
.sidebar a.active {
  color: #308ee0;
}

.sidebar a:hover:not(.active,.newProject) {	
  background-color: #f9f9f9;
  color:
}

.logout{
	font-size: 13px;
    color: #337ab7;
    text-decoration: underline;
}
/* End Of the Sidebar*/

/* Top Navbar */
.right-side .navbar{
  min-height: 65px;
}
.right-side .navbar-inverse{
  background: #570000;
}
.navbar-right{
	margin-right: 20px;
}
.navbar-fixed-bottom,.right-side .navbar-fixed-top {
    left: 250px;
}
.right-side .navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 13px;
    color: #fff;
  }
.right-side .navbar-inverse .navbar-nav >li>a{
   color: #fff;
}
.right-side .navbar-inverse .navbar-left >li:active,
.right-side .navbar-inverse .navbar-left >li:hover,
.right-side .navbar-inverse .navbar-left > .active > a,
.right-side .navbar-inverse .navbar-left > .active > a:hover,
.right-side .navbar-inverse .navbar-left > .active > a:active
.right-side .navbar-inverse .navbar-left > .active > a:focus{
  background: #971212;
}
 .right-side .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   padding-top: 15px;
}
.right-side .navbar-nav>li>.dropdown-menu{
  background: #971212;
  border-radius: 5px;
}
.right-side .navbar-nav .dropdown-menu>li>a{
  color: #fff;
  padding: 10px 10px;
  padding-right: 60px;
}
.right-side .navbar-nav .dropdown-menu>li>a:hover,
.right-side .navbar-nav .dropdown-menu>li>a:focus{
  background: #993535;
  color: #fff;
}
.dropdown-menu>li:first-child,
.dropdown-menu>li:last-child{
  padding-top: 5px;
  padding-top: 0;
}
.navbar-right li>.profile-image{
  width:45px;
  height:40px;
}
.navbar-inverse .navbar-right> .open > a:focus,
.navbar-inverse .navbar-right> .open > a:hover{
  background: 0;
}
.navbar-right .user-wrapper>a{
  padding-bottom:0;
  padding-top:15px;
}
.navbar-right .profile-image>img{
  width:45px;
  height:40px;
}
.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -35px;
   font-size: 10px;
  }
  .btn-group-lg>.btn, .btn-lg {
    padding: 0px 17px;
    font-size: 23px;
    line-height: 0.333333;
    border-radius: 6px;
}
.navbar-left h3{
	color: #fff;
	margin-left:20px;
}
.navbar-left small{
	color: #fff;
}
/* End of the Top Navbar */

/* Top Navbar for Mobile View */
.mobile-container-menu{
	display: none;
}
/* End of Top Navbar for Mobile View */


/* Content */
.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: 1000px;
  padding-top: 100px;
}
.content-wrapper{
	background: #fff;
	padding-bottom: 20px;
	margin-top: 20px;
	padding-top: 20px;
}
.outstanding-tasks .table-wrapper{
  padding: 10px;
  background: #ffffff87;
  border-radius: 5px;
  margin-top: 20px;
}

.outstanding-tasks .table-orange{
  background: #0400ff08;
}
.outstanding-tasks .table-wrapper h5{
  color: #570000;
  font-weight: bold;
}
/* Content */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.panel >.collpase-panel {
    display: none;
}
.panel-heading{
  background-color:#f5f5f5;
  border-color:#ddd;
  font-weight: bold;
}

/*Assignment Section*/
.assignment-background{
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* New Project Section*/
.markerWrapperAdded{
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ededed;
  margin-top: 5px;
  margin-bottom: 5px;
}
#addMarker{
	margin-top:25px;
}

#selectMarker>option{
	padding-top: 100px;
	margin: 100px;	
}
/* The End of New Project Section*/

/*Model*/
.projectSubmitted{
	left:39%;
}
.projectSubmitted>img{
	height: 90px;
}
.projectSubmitted>p{
	margin: 0 0 10px;
    margin-left: -54px;
    font-weight: bold;
    font-size: 19px;
}
/**/

.error_message{
	background: #ffe0e0;
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 20px;
	margin-bottom: 20px;
}
.error_message .glyphicon{
	font-size: 32px;
    color: #353535;
}
.error_message .messageHeader{
	font-weight: bold;
	font-size: 20px;
}
.error_message .message{
	padding-left: 100px;
}

/*	Filter for search	*/
.chosen-container-single .chosen-single{
	height: 35px;
	padding:3px 0 0 8px;
}
/*	End of Filter for search	*/

/*	multiselect */
.myMultiselect .multiselect-selected-text{
	color: #333030;
	font-size:13px;
}
.myMultiselect .btn-default.active.focus,
.myMultiselect .btn-default.active:focus,
.myMultiselect .btn-default.active:hover,
.myMultiselect .btn-default:active.focus,
.myMultiselect .btn-default:active:focus,
.myMultiselect .btn-default:active:hover,
.myMultiselect .open>.dropdown-toggle.btn-default.focus,
.myMultiselect .open>.dropdown-toggle.btn-default:focus,
.myMultiselect .open>.dropdown-toggle.btn-default:hover,
.myMultiselect .btn-group>.btn:first-child{
    background-image: none;
    color: #000;
    background-color: #fff;
    border-color: #d1d1d1;
}

.myMultiselect .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #0696b7;
    color: #fff;
}
.myMultiselect .dropdown-menu>.active>a,
.myMultiselect .dropdown-menu>.active>a:focus,
.myMultiselect .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0696b7;
    outline: 0;
}
.myMultiselect .multiselect-container>li>a>label.checkbox,
.myMultiselect .multiselect-container>li>a>label.radio {
    margin: 0;
    margin-left: 0;
    margin-bottom: 1px;
    font-size: 14px;
    padding-left: 30px;
}
.myMultiselect .input-group .form-control:not(:first-child):not(:last-child),
.myMultiselect .input-group-addon:not(:first-child):not(:last-child),
.myMultiselect .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    height: 34px;
    width: 150px;
}
.myMultiselect .glyphicon-remove-circle{
	color: #000;
}
.myMultiselect .dropdown-menu>.active>a,
.myMultiselect .dropdown-menu>.active>a:focus,
.myMultiselect .dropdown-menu>.active>a:hover{
	background-image:none;
}
.myMultiselect .multiselect-container>li>a>label {
  padding: 4px 20px 3px 20px;
}
/*	End of multiselect */

/* number of user selected */
.small{
	font-size: 12px;
}
.multiselect-container .active a label{
	color: #ccc;
}
.selectedUser{
	color: #ccc
}
.userChecked{
	background-color: red;
}
.smaller{
	font-size: 12px;
}
/* End of number of user selected */
.extensions{
	width:75%;
	display: inline;
}