<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<title>Page not found!!</title>

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
	
	<link type="text/css" rel="stylesheet" th:href="@{/css/pageNotFound.css}" />
</head>

<body>
<div class="row">
	<div class="col-lg-12">
		<div id="pageNotFound">
			<div class="text-wrapper col-sm-push-4 col-sm-4">
				<div class="text-wrapper-404">
					<h3>Sorry! Page not found</h3>
					<h1><span>4</span><span>0</span><span>4</span></h1>
				</div>
				<h2>The page you requested was not found</h2>
			</div>
		</div>
	</div>
</div>
</body>
</html>
