<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" type="text/css"href="resources/static/css/style.css">
  <script type="text/javascript" src="resources/static/js/scripts.js"></script>
</head>
<body>
  <div class="sidebar">
    <img src="./img/no-profile-photo.jpg" class="logo">
    <div class="nav-profile">
      <div class="profile-image">
        <img src="resources/static/img/no-profile-photo.jpg" alt="profile image" class="img-circle">
      </div>
      <div class="text-wrapper">
        <p class="profile-name" th:text="${user.userName}">
        <p class="designation text-muted">User <span class="glyphicon glyphicon-asterisk"></span></p>
      </div>
    </div>
    <a href="./log.html">
      <span class="glyphicon glyphicon-edit"></span>
      <span class="sidebar-element">View Log</span>
    </a>
    <a href="#archive">
      <span class="glyphicon glyphicon-briefcase"></span>
      <span class="sidebar-element">Completed Tasks</span>
    </a>
  </div>

<div class="right-side">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li class="active">
        <a href="./main_unitDirector"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown user-wrapper">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hello, <span th:text="${user.userName}"/>
        <span class="profile-image">
          <img src="./img/no-profile-photo.jpg" class="img-circle">
        </span>
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="manageAccounts">Manage Accounts</a></li>
          <li><a href="changePassword">Change Password</a></li>
          <li class="divider"></li>
          <li><a href="signOut">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </nav>
</div>
  <div class="content">
    <div class="container outstanding-tasks">
      <div class="row">
        <div class="col-sm-8 table-wrapper">
             
          <table class="table panel panel-default" id="table">
          <h5>Outstanding Tasks</h5>
            <thead>
              <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Deadline</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="task: ${tasks}">
                <td><span th:text="${task.id}"/></td>
                <td><span th:text="${task.status}"/></td>
                <td class="warning">Date Here</td>
                <td><a href="feedbackSubmission.html" class="btn btn-primary btn-xs">View</a></td>
              </tr>
            </tbody>
          </table>
          </div>
      </div>
    </div>
 	 </div>
</body>
</html>
