<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="unitDirectorHeader :: head"></head>
<body>
  <div th:replace="unitDirectorHeader :: sidebar"></div>
  
  <div class="right-side">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <h3>Outstanding Tasks</h3>
      </ul>
    </div>
    </nav>
  </div>
  
  <div class="content">
    <div class="container outstanding-tasks">
      <div class="row">
          <div class="col-sm-8 table-wrapper">
            <table class="table panel panel-default" id="table">
            <h5>Outstanding Tasks</h5>
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Task Name</th>
                  <th>Deadline</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
              </tbody>
            </table>
            </div>

    	    <div class="modal fade" id="view1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    			<div class="modal-dialog" role="document">
    				<div class="modal-content">
    					<div class="modal-header">
    						<h3 class="modal-title" id="exampleModalLabel">Portfolio A Upload</h3>
    						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    							<span aria-hidden="true">&times;</span>
    						</button>
    					</div>
    					<div class="modal-body">
    						<div class="form-group">
    							<label for="feedbackFile">Upload Feedback</label> <input type="file" id="feedbackFile">
    							<p class="help-block">Choose the file to upload.</p>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    						<button type="button" class="btn btn-danger">Upload</button>
    					</div>
    				</div>
    			</div>
    		</div>
        </div>
      </div>
   	 </div>
  </body>
  </html>
