<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" type="text/css"href="./resources/css/style.css">
  <script type="text/javascript" src="./resources/js/scripts.js"></script>
</head>
<body>

  <div class="sidebar">
    <img src="./resources/img/logo.png" class="logo">
    <div class="nav-profile">
      <div class="profile-image">
        <img src="./resources/img/no-profile-photo.jpg" alt="profile image" class="img-circle">
      </div>
      <div class="text-wrapper">
        <p class="profile-name">Aydin Nassehi</p>
        <small class="designation text-muted">Unit Director</small>
        <span class="glyphicon glyphicon-asterisk"></span>
      </div>
    </div>
    <a href="./newProject.html" class="newProject">New Project +</a>
    <a class="active" href="#controlPanel">
      <span class="glyphicon glyphicon-globe"></span>
      <span class="sidebar-element">View Projects</span>
    </a>
    <a href="./log.html">
      <span class="glyphicon glyphicon-edit"></span>
      <span class="sidebar-element">View Log</span>
    </a>
    <a href="#archive">
      <span class="glyphicon glyphicon-briefcase"></span>
      <span class="sidebar-element">Archive</span>
    </a>
    <a href="#controlPanel">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="sidebar-element">Manage permissions</span>
    </a>
  </div>

<div class="right-side">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li class="active">
        <a href="./main_unitDirector.html"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown user-wrapper">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hello, Aydin Nassehi
        <span class="profile-image">
          <img src="./resources/img/no-profile-photo.jpg" alt="profile image" class="img-circle">
        </span>
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="manageAccounts">Manage Accounts</a></li>
          <li><a href="changePassword">Change Password</a></li>
          <li class="divider"></li>
          <li><a href="signOut">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </nav>
</div>
  <div class="content">
    <div class="container outstanding-tasks">
      <div class="row">
          <div class="col-sm-8 table-wrapper">
            <table class="table panel panel-default" id="table">
            <h5>Outstanding Tasks</h5>
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Task Name</th>
                  <th>Deadline</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
                <tr>
                  <td>Software Product Engineering1</td>
                  <td>Portfolio A</td>
                  <td class="warning">20.10.2020</td>
                  <td><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#view1">View</a></td>
                </tr>
              </tbody>
            </table>
            </div>

    	    <div class="modal fade" id="view1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    			<div class="modal-dialog" role="document">
    				<div class="modal-content">
    					<div class="modal-header">
    						<h3 class="modal-title" id="exampleModalLabel">Portfolio A Upload</h3>
    						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    							<span aria-hidden="true">&times;</span>
    						</button>
    					</div>
    					<div class="modal-body">
    						<div class="form-group">
    							<label for="feedbackFile">Upload Feedback</label> <input type="file" id="feedbackFile">
    							<p class="help-block">Choose the file to upload.</p>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    						<button type="button" class="btn btn-danger">Upload</button>
    					</div>
    				</div>
    			</div>
    		</div>
        </div>
      </div>
   	 </div>
  </body>
  </html>
