<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>Solo Project</p>
	<form name="newProject" action="#" th:action="@{/unit_director/new_solo_project}"
		th:object="${soloProject}" method="post">
		
		<label for="selectUnit">Unit: </label>
		<select id="selectUnit" th:field="*{unit.id}" onchange="setUnit.click()">
			<option th:each="unit : ${unitList}" th:value="${unit.id}"
				th:text=${unit.unitName}></option>
		</select>
		<button style="display: none;" type="submit" id="setUnit" name="setUnit">Set Unit</button>
		<br>
		
		<label for="projectName">Project Name: </label>
		<input id="projectName"type="text" th:field="*{name}" />
		<br>
		<label for="projectDesc">Project Description: </label>
		<input id="projectDesc" type="text" th:field="*{description}" />
		
		<div th:each="assessment, a: *{assessments}">
			<p>New Assessment:</p>
			<label for="assessmentName">Name: </label>
			<input type="text"
				id="assessmentName" th:field="*{assessments[__${a.index}__].name}"
				name="assessmentName" />
				<br>
			<label for="assessmentDesc">Description: </label>
			<input type="text" id="assessmentDesc"
				th:field="*{assessments[__${a.index}__].description}"
				name="assessmentDesc" />

				<div th:each="task, t: *{assessments[__${a.index}__].tasks}">
					<input type="hidden" th:field=*{assessments[__${a.index}__].tasks[__${t.index}__].accountable}>
					<span th:text=*{assessments[__${a.index}__].tasks[__${t.index}__].accountable.userName}></span>
					<button type="submit" name="addMarker" th:value="${'__${a.index}__, __${t.index}__'}">Add Marker</button>
					<div th:each="marker, m: *{assessments[__${a.index}__].tasks[__${t.index}__].markers}">
						<select th:field="*{assessments[__${a.index}__].tasks[__${t.index}__].markers[__${m.index}__]}" >
							<option th:each="assessor : ${assessorList}" th:value="${assessor.id}"
								th:text=${assessor.userName}></option>
						</select>
						<button type="submit" name="removeMarker" th:value="${'__${a.index}__, __${t.index}__, __${m.index}__'}">Remove Marker</button>
					</div>
				</div>
				<button type="submit" name="removeAssessment" th:value="${a.index}">Remove Assessment</button>
		</div>
		<br>
		<button type="submit" name="addAssessment">Add Assessment</button>
	</form>
</body>
</html>