<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>Solo Project</p>
	<form name="newProject" action="#"
		th:action="@{/unit_director/new_solo_project}"
		th:object="${newSoloProject}" method="post">

		<label for="selectUnit">Unit: </label>
		<select id="selectUnit" th:field="*{unit.id}" onchange="setUnit.click()">
			<option th:each="unit : ${unitList}" th:value="${unit.id}" th:text=${unit.unitName}></option>
		</select>
		
		<input type="hidden" th:field="*{unit.cohort}" th:value="*{unit.cohort}">

		<button style="display: none;" type="submit" id="setUnit" name="setUnit">Set Unit</button>
		<br>
		<label for="projectName">Project Name: </label> <input
			id="projectName" type="text" th:field="*{name}" /> <br> <label
			for="projectDesc">Project Description: </label> <input
			id="projectDesc" type="text" th:field="*{description}" />
		<br>
		<div th:each="assessment, a: *{assessments}">
			<p>New Assessment:</p>
			<label for="assessmentName">Name: </label>
			<input type="text" id="assessmentName" th:field="*{assessments[__${a.index}__].name}" name="assessmentName" />
			<br>
			<label for="assessmentDesc">Description: </label>
			<input type="text" id="assessmentDesc" th:field="*{assessments[__${a.index}__].description}" name="assessmentDesc" />
			<br>

			<br>

			<div th:each="markerDto, m: *{assessments[__${a.index}__].markerDtos}">
				<select id="selectMarker" th:field="*{assessments[__${a.index}__].markerDtos[__${m.index}__].marker.id}">
					<option th:each="assessor : ${assessorList}" th:value="${assessor.id}" th:text=${assessor.userName}></option>
				</select>
				
				<div th:each="user, u: *{assessments[__${a.index}__].markerDtos[__${m.index}__].toMark}">
					<select id="selectUser" th:field="*{assessments[__${a.index}__].markerDtos[__${m.index}__].toMark[__${u.index}__].id}">
						<option th:each="user : *{unit.cohort}" th:value="${user.id}" th:text=${user.userName}></option>
					</select>
					<button type="submit" name="removeUser" th:value="${'__${a.index}__, __${m.index}__, __${u.index}__'}">Remove User</button>
				</div>
				<button type="submit" name="addUser" th:value="${'__${a.index}__, __${m.index}__'}">Add User</button>
				<br>
				<button type="submit" name="removeMarker" th:value="${'__${a.index}__, __${m.index}__'}">Remove Marker</button>	
			</div>
			<button type="submit" name="addMarker" th:value="${a.index}">Add Marker</button>
			<br>
			<button type="submit" name="removeAssessment" th:value="${a.index}">Remove Assessment</button>
		</div>
		<button type="submit" name="addAssessment">Add Assessment</button>
		<br>
		<button type="submit" name="addProject">Submit Project</button>
	</form>
</body>
</html>