<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="studentHeader:: head"></head>
<body>
	<div th:replace="sidebar_student:: sidebar"></div>

	<div class="right-side">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="nav navbar-nav navbar-left">
					<h3>Outstanding Tasks</h3>
				</div>
			</div>
		</nav>
	</div>
	<div class="content">
		<div class="container outstanding-tasks">
			<div class="row">
				<div class="col-sm-8 table-wrapper">
					<h1 th:text="${task.assessment.name}"></h1>
					<form th:action="@{/user/tasks/{taskId}(taskId=${task.id})}" method="post" id="submissionForm">
						<label for="comments">Comments</label> <textarea
						id="comments" name="comments" th:text="${task.txtSubmission}" form="submissionForm"></textarea>
						<input type="submit" value="Submit" />
					</form>
						<form action="/testUpload" method="post" enctype="multipart/form-data">
							<input type="file" name="files" multiple>
							<input type="submit" value="Upload Files"></input>
						</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>